/* TransactionDetails.module.css */

.container {
  @apply flex flex-col bg-gradient-to-br from-[#096d6f] to-[#40c9c6] p-4 rounded-xl shadow-md max-sm:max-w-[350px] max-sm:overflow-x-auto h-full flex-grow min-h-0;
}
/*className='max-sm:max-w-[350px] max-sm:overflow-x-auto table-responsive max-h-screen'*/
.header {
  @apply flex justify-between items-center mb-4 flex-wrap gap-3;
}

.title {
  @apply font-semibold text-lg text-white flex-shrink-0;
}

.searchInput {
  @apply px-3 py-2 rounded-full border border-white text-black focus:outline-none w-full max-w-xs flex-shrink;
}

/* Scrollbar hidden but allow scroll */
.hideScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.tableWrapper {
  @apply hideScrollbar rounded-lg shadow flex-grow overflow-x-auto min-w-0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
 
}

.thead {
  @apply border-2 border-black text-white;
}


.th {
  @apply px-3 py-2 font-medium text-white text-xs whitespace-nowrap;
}


/* Smaller first column */
.thFirst {
  min-width: 40px;
}

/* Shrink header font size on smaller screens */
@media (max-width: 640px) {
  .th {
    font-size: 0.75rem;
    /* reduce font size */
  }
}

/* Table cells */
.td {
  @apply border-2 border-black px-3 py-1 whitespace-normal text-sm break-words;
  word-break: break-word;
  overflow-wrap: break-word;
}

.trOdd {
  @apply border-2 border-black text-white;
}

.trEven {
  @apply border-2 border-black text-white;
}

.noData {
  @apply text-center text-white text-base py-10 flex-grow;
}