.main-content {
  margin-left: 256px !important;
  width: calc(100% - 256px) !important;
  min-height: 100vh;
}

.sidebar-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 256px !important;
  height: 100vh;
  z-index: 10;
  border: 5px solid black;
}